[submodule "adblockpluscore"]
	path = adblockpluscore
	url = ../adblockpluscore
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = ../../external-dependencies/googletest-github
[submodule "third_party/gyp"]
	path = third_party/gyp
	url = ../../external-dependencies/gyp
